/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS variable colors */
:root {
  --red: hsl(4, 100%, 67%);
  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-family: "Roboto", Poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-700);
  font-size: 16px;
}

.container,
.container-success {
  width: 60%;
  max-width: 900px;
  height: 75%;
  background-color: var(--white);
  border-radius: 1rem;
  margin: 7em auto;
  padding: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.right-side {
  width: 50%;
  height: 350px;
  /* background-color: red; */
  border-radius: 0.5rem;
}

.right-side-img {
  width: 100%;
  height: 100%;
  max-inline-size: 100%;
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  object-fit: cover;
  border-radius: 0.5rem;
}

.left-side {
  width: 50%;
  margin-top: 2rem;
  background-color: red;
}

/* mobile dimensions */
@media (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    width: 80%;
    padding: 0;
  }
  .right-side {
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  .right-side-img {
    width: 100%;
    height: 280px;
    max-inline-size: 100%;
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    background-position: top;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .left-side {
    margin: 0;
    width: 100%;
  }
}

/* tablet dimensions */

@media (480 <= width <= 800px) {
  .container {
    width: 100%;
    height: 300px;
    padding: 0;
  }

  .right-side {
    width: 50%;
    padding: 0;
    overflow: hidden;
  }
  .right-side-img {
    width: 100%;
    height: 250px;
    background: url(./assets/images/illustration-sign-up-tablet.svg);
    max-inline-size: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
  
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
