// google fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

// colors

$gold: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$green: hsl(179, 100%, 13%);
$white-para: hsla(0, 0%, 100%, 0.75);
$gray: hsl(0, 0%, 95%);

$font-lexend: "Lexend Deca";
$font-big-shoulders: "Big Shoulders Display";
