// Importing google fonts
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

// Theme colors

$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$gray-500: hsl(0, 0%, 42%);
$gray-950: hsl(0, 0%, 7%);

// Primary font face
$font: "Figtree", sans-serif;
$font-size: 16px;
$font-medium: 500;
$font-bold: 800;
